:export {
  menuText: #303133;
  menuActiveText: #409EFF;
  subMenuActiveText: #f4f4f5;
  menuBg: #ffffff;
  menuHover: #ecf5ff;
  subMenuBg: #1f2d3d;
  subMenuHover: #001528;
  sideBarWidth: 211px;
}
